[submodule "examples/embedded/cortex_m4_tls/mbedtls"]
	path = examples/embedded/cortex_m4_tls/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "examples/embedded/nucleo_h753_ksem_test/STM32CubeH7"]
	path = examples/embedded/nucleo_h753_ksem_test/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
[submodule "examples/embedded/nucleo_h753_ksem_test/lwip"]
	path = examples/embedded/nucleo_h753_ksem_test/lwip
	url = https://github.com/lwip-tcpip/lwip.git
